body{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align:center;
    background-color:#1d1d1d;
    /*color:#ffffff;*/
    width:100%;
    font-size:16px;
}

div{
    max-width:100%;
    box-sizing: border-box;
    text-align:left;
    vertical-align:top;
    display:inline-block;
}

@media (max-width: 950px) {
    div{
        text-align:center;
    }
    ul{
        text-align:left;
    }
    .contact-section-content div, .skills-section-content div{
        width:300px;
    }
}

img{
    max-width:100%;
}

h2{
    font-size:20px;
    margin:0;
}

h3{
    font-size:16px;
    margin:0;
}

nav{
    position:fixed;
    left:0;
    top:35%;
    text-align: right;
    z-index: 2;
}

    nav ul{
        list-style:none;
        padding:0;
    }

        nav ul li{
            width:15px;
            height:25px;
            line-height:25px;
            border:solid 1px #000000;
            -webkit-transition: width .25s; /* For Safari 3.1 to 6.0 */
            transition: width .25s;
        }

        nav ul li:nth-child(even){
            background-color:#a289ff;
        }

        nav ul li:nth-child(odd){
            background-color:#ffeb3b;
        }

            nav ul li a{
                color:inherit;
                text-decoration: none;
                display:block;
                height:inherit;
                padding:0 5px 0 0;
            }

            nav ul li a{
                display:none;
                color:#1d1d1d;
            }

            nav ul li:hover {
                width:90px;
            }

            nav ul li:hover a{
                display:block;
            }

.banner-img{
    width:500px; 
    height:auto;
}
.section:nth-child(even){
    background-color:#ffeb3b;
}

.section:nth-child(odd){
    background-color:#a289ff;
}

.section{
    width:85%; 
    margin:0; 
    padding:0; 
    box-shadow:0px 0px rgba(255,255,255, 0.2);
    text-align:center;
    position:relative;
    z-index:0;
    transition:all 1s;
}

.section:hover{
    /*animation: pulse 3s infinite;*/
    width:calc(85% + 20px); 
    margin:20px 20px -20px 0; 
    padding:0px 20px 0 0; 
    box-shadow:5px 5px rgba(255,255,255, .3);
    z-index: 1;
}

/*@keyframes pulse {
    0%, 100% {width:85%; margin:0; padding:0; box-shadow:0px 0px rgba(255,255,255, 0.2);}
    50% {width:87%; margin:20px 1% -20px 0; padding:0px 20px 0 0; box-shadow:5px 5px rgba(255,255,255, .8);}
}*/

.section-title {
    width:200px; 
    vertical-align: top;
}

.section-content{
    width:800px; 
    vertical-align: top;
}

.section-content-info{
    width:600px;
}

.section-content-dates{
    width:195px;
}

.skills-section-content div{
    width:195px; 
    text-align:center;
}

.skills-section-content img{
    height:100px; 
    width:auto;
}

.contact-section-content div{
    width:260px; 
    vertical-align: top; 
    text-align:center;
}

.contact-section-content div span:first-child{
    font-weight:bold;
}
/*~*/