/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2015, 12:50:18 AM
    Author     : Amish Naik
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align:center;
    background-color:#1d1d1d;
    color:#ffffff;
}

div{
    max-width:100%;
    box-sizing: border-box;
    text-align:left;
    vertical-align:top;
    display:inline-block; width:100%;
}

@media (max-width: 600px) {
    div{
        text-align:center;
    }
    ul{
        text-align:left;
    }
}

img{
    max-width:100%;
}

h2{
    font-size:20px;
    margin:0;
   // color:#2196f3;
   color:#ffeb3b;
}

h3{
    font-size:16px;
    margin:0;
   // color:#bbdefb;
}

.section{
    width:100%; text-align:center;
}

.section-yellow{
    background-color:#ffeb3b; color:#000000;
}

.section-title {
    width:200px; vertical-align: top;
}

.section-content{
    width:800px; vertical-align: top;
}

.section-content-info{
    width:600px;
}

.section-content-dates{
    width:195px;
}

.skills-section-content div{
    width:195px; text-align:center;
}

.skills-section-content img{
    height:100px; width:auto;
}

.skills-section-content div p{
    color:#448aff;
}

.contact-section-content div{
    width:260px; vertical-align: top; text-align:center;
}